#hey{
    display: inline-block;
    margin: 0px auto;
    position: fixed;
    transition: all 0.5s ease-in-out;
    z-index: 1031;
    top: 20px;
    left: 20px
}
#hey > *{
    transition: all 3.5s ease-in-out;
}
