.section{
    padding: 70px 0;
    position: relative;
    background: $white-color;

    .row + .category{
        margin-top: $margin-base-vertical;
    }
}
.section-navbars{
    padding-bottom: 0;
}

.section-full-screen{
    height: 100vh;
}
.section-signup{
    padding-top: 20vh;
}

.page-header{
    height: 100vh;
    max-height: 1050px;
    padding: 0;
    color: $white-color;
    position: relative;

    background-position: center center;
    background-size: cover;

    .page-header-image{
        position: absolute;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .container{
        height: 100%;
        z-index: 1;
        text-align: center;

        > .content-center{
            position: absolute;
            top: 50%;
            left: 50%;

            -ms-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);

            text-align: center;
            color: #FFFFFF;
            width: 100%;
            max-width: 880px;
        }
    }
    .category,
    .description{
        color: $opacity-5;
    }

    .documentation &{
        .category{
            font-size: $font-size-h3;
        }

        .title + .category{
            margin-top: -25px;
        }
    }

    &.page-header-small{
        height: 60vh;
        max-height: 440px;
    }

    &:after,
    &:before{
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
        content: "";
    }

    &:before{
        background-color: rgba(0,0,0,.5);
    }

    &[filter-color="orange"]{
        @include linear-gradient(rgba($black-color,.20), rgba(224, 23, 3, 0.6));
    }

    .container{
        z-index: 2;
    }

}

.clear-filter{
    &:after,
    &:before{
        display: none;
    }
}

[data-background-color="orange"]{
    background-color: $orange-bg;
}
[data-background-color="black"]{
    background-color: $black-color;
}

[data-background-color]{
    color: $white-color;

    .title,
    .social-description h2,
    p,
    h1,h2,h3,h4,h5,h6,a:not(.btn),
    .icons-container i{
        color: $white-color;
    }

    .ct-label.ct-vertical.ct-start,
    .ct-label.ct-horizontal.ct-end,
    .table > thead > tr > th,
    .statistics-container h3{
        color: $opacity-8;
    }

    .ct-grid{
        stroke: $opacity-8;
    }

    .description,
    .social-description p{
        color: $opacity-8;
    }

    //radio and checkboxes
    .checkbox label::before,
    .checkbox label::after,
    .radio label::before,
    .radio label::after{
        border-color: $opacity-2;
    }

    .checkbox label::after,
    .checkbox label,
    .radio label{
        color: $white-color;
    }

    .checkbox input[type="checkbox"]:disabled + label,
    .radio input[type="radio"]:disabled + label  {
        color: $white-color;
    }

    .radio input[type="radio"]:not(:disabled):hover + label::after,
    .radio input[type="radio"]:checked + label::after {
        background-color: $white-color;
        border-color: $white-color;
    }

    label{
        color: $white-color;
    }

    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control{
        color: $light-gray;
        background-color: $white-bg;
    }

    hr{
        border-color: $opacity-5;
    }

    //inputs
    @include input-coloured-bg($opacity-5, $white-color, $white-color, $transparent-bg, $opacity-1, $opacity-2);

    .input-group-addon,
    .form-group.form-group-no-border .input-group-addon,
    .input-group.form-group-no-border .input-group-addon{
        color: $opacity-8;
    }

    //buttons
    .btn.btn-simple{
        background-color: $transparent-bg;
        border-color: $opacity-5;
        color: $white-color;

        &:hover,
        &:hover,
        &:focus,
        &:active{
            background-color: $transparent-bg;
            border-color: $white-color;
        }
    }
}
