.wrapper{
    position: relative;
    top: 0;
    height: 100vh;
}

.sidebar,
.off-canvas-sidebar{
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    @include transition (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));

    .sidebar-wrapper{
        position: relative;
        height: calc(100vh - 75px);
        overflow: auto;
        width: 260px;
        z-index: 4;

        .dropdown .dropdown-backdrop{
            display: none !important;
        }

        .navbar-form{
            border: none;
        }

        .nav{
            [data-toggle="collapse"] ~ div > ul > li > a{
                padding-left: 60px;
            }

            .caret{
                margin-top: 13px;
                position: absolute;
                right: 18px;
            }
        }

    }

    .logo-tim{
        border-radius: 50%;
        border: 1px solid #333;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;

        img{
            width: 60px;
            height: 60px;
        }
    }



    .nav{
        margin-top: 20px;
        display: block;

        li{
            > a{
                margin: 10px 15px 0;
                border-radius: $border-radius-small;
                color: $white-color;
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;
                font-size: $font-size-mini;
                padding: 0.6rem $padding-base-vertical;
                line-height: $line-height-nav-link;
            }

            &:first-child > a{
                margin: 0 15px;
            }

            &:hover:not(.active) > a,
            &:focus:not(.active) > a{
                background-color: $opacity-1;
            }

            &:hover:not(.active) > a i,
            &:focus:not(.active) > a i{
                color: $white-color;
            }

            &.active > a{
                color: $white-color;
                background-color: $opacity-1;

                i{
                    color: $white-color;
                }
            }
        }

        p{
            margin: 0;
            // font-weight: 600;
            // text-transform: uppercase;
        }

        i{
            font-size: 18px;
            float: left;
            margin-right: 15px;
            line-height: 30px;
            width: 30px;
            text-align: center;
            color: $opacity-5;
            top: -2px;
            position: relative;
        }
    }

    .sidebar-background{
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;

        &:after{
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 100%;
            content: "";
            display: block;
            background: #FFFFFF;
            opacity: .63;
        }
    }

    .logo{
        position: relative;
        padding: $padding-base-vertical $padding-base-horizontal;
        z-index: 4;

        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            right: 6%;
            height: 1px;
            width: 88%;
            background-color: $opacity-5;

        }

        p{
            float: left;
            font-size: 20px;
            margin: 10px 10px;
            color: $white-color;
            line-height: 20px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .simple-text{
            text-transform: uppercase;
            padding: $padding-base-vertical 0;
            display: block;
            font-size: $font-size-large;
            color: $white-color;
            text-decoration: none;
            text-align: center;
            font-weight: $font-weight-normal;
            line-height: 30px;
        }
    }

    .logo-tim{
        border-radius: 50%;
        border: 1px solid #333;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;

        img{
            width: 60px;
            height: 60px;
        }
    }

    &:before,
    &:after{
        display: block;
        content: "";
        opacity: .76;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &:after{
        @include icon-gradient($default-color);
        z-index: 3;
    }

    &[data-color="blue"]:after{
        @include icon-gradient($info-color);
    }
    &[data-color="green"]:after{
        @include icon-gradient($success-color);
    }
    &[data-color="orange"]:after{
        @include icon-gradient($primary-color);
    }
    &[data-color="red"]:after{
        @include icon-gradient($danger-color);
    }
    &[data-color="yellow"]:after{
        @include icon-gradient($warning-color);
    }
}

.off-canvas-sidebar{
    .nav {
        > li > a,
        > li > a:hover{
            color: $white-color;
        }

        > li > a:focus{
            background: rgba(200, 200, 200, 0.2);
        }
    }
}


.main-panel{
    position: relative;
    float: right;
    width: $sidebar-width;
    background-color: lighten(#f2f2f2, 3%);
    @include transition (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));

    > .content{
        padding: 30px 15px;
        min-height: calc(100vh - 123px);
    }

    > .footer{
        border-top: 1px solid #e7e7e7;
    }

    > .navbar{
        margin-bottom: 0;
    }
}

// .sidebar,
// .main-panel{
//     -webkit-transition-property: top,bottom;
//     transition-property: top,bottom;
//     -webkit-transition-duration: .2s,.2s;
//     transition-duration: .2s,.2s;
//     -webkit-transition-timing-function: linear,linear;
//     transition-timing-function: linear,linear;
//     -webkit-overflow-scrolling: touch;
// }
