.table{

   .checkbox{
       margin-bottom: 0;

       & label::before,
       & label::after{
           top: -12px;
           left: 5px;
       }
   }

   > thead > tr > th,
   > tbody > tr > th,
   > tfoot > tr > th,
   > thead > tr > td,
   > tbody > tr > td,
   > tfoot > tr > td{
       padding: 12px 7px;
       vertical-align: middle;
   }

    > thead > tr > th{
        border-bottom-width: 1px;
        font-size: $font-size-small;
        text-transform: uppercase;
        color: $dark-gray;
        font-weight: $font-weight-normal;
        padding-bottom: 5px;
        border-top: 0;

        &:first-child{
            padding-left: 15px;
        }
    }

   .td-actions .btn{
        @include opacity(0.36);

        &.btn-xs{
            padding-left: 3px;
            padding-right: 3px;
        }
    }
    .td-actions{
        min-width: 90px;
    }

    > tbody > tr{
        position: relative;

        &:hover{
            .td-actions .btn{
                @include opacity(1);
            }
        }

        td:first-child{
            padding-left: 15px;
        }
    }
}

@media screen and (min-width: 992px){
    .table-full-width {
        margin-left: -15px;
        margin-right: -15px;
        width: initial;
    }

}
